<!DOCTYPE html>
%meta{:charset => "UTF-8"}
%title=h title
%link{:href => "http://ssig33.com/common.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
%meta{:name => "viewport", :content => "width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
%div#all~@page.html

